<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 600px;
	width: 800px; 
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="main.js"></script>
  </head>
  <body>
    <div id="map-canvas"></div>
    
    <input type="button" onclick="addMarker()" value="add new location" />

  </body>
</html>
